<?xml version="1.0"?>
<configuration>
	
	<connectionStrings>
		<add name="SmartPOSContext"
			 connectionString="Data Source=BRUCE\SQLEXPRESS;Initial Catalog=SmartPOS_DB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
